body{
    text-align: center;
    color: aliceblue;
    font-size: 22px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/imagens/olhando-lua.webp);
    background-size: 100% ;
    background-position: center;

}

a {
    color: inherit;
}

#profile-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 0.5px  white
}



ul {
    list-style: none;
}

section{
    margin-top: 30px;
}

li {
    margin: 5px;
    text-shadow: 2px 2px 1px black
}

.rodape {
    position: absolute;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 5px  white
}