body{
    text-align: center;
    background-color: black;
    font-size: 22px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#menu {
    margin: auto;
}



a {
    color: inherit;
}


#profile-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

ul {
    list-style: none;
}


section{
    margin-top: 30px;
}


li {
    margin: 5px;
    text-shadow: 2px 2px 1px black;
    color: white;
}